/* ===========================
   IGRS Website - Professional Legal Services Style
   =========================== */

@import url('./tokens.css');
@import url('./base.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./header.css');
@import url('./footer.css');

@import url('./legacy.css');
